
@media (max-width:  550px) {
    .navbar {
        overflow: hidden;
        overflow-x: auto;
    }

}


.content-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    .title {
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    label {
        width: 100%;
        margin-bottom: 15px;

        div {
            font-weight: bold;
            width: 100%;
            font-size: 0.9rem;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
        }
    }
}


.language-list-item {
    width: 100%;
    margin-bottom: 5px;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    background: var(--skill-list-item-background);
    color: var(--skill-list-item-color);

    &:hover {
        background: var(--skill-list-item-background-hover);
    }
}
