<div class="send-text-dialog-action">

    <div class="title">Send text</div>
    <input type="text" [(ngModel)]="action.text"
        (ngModelChange)="onSendTextChange()">

    <div class="title quick-replies-title">
        Quick replies
        <button class="button is-rounded is-small is-outlined"
            (click)="newEmptyQuickReply()">
                <i class="icon is-left fas fa-plus"></i>
                Add
        </button>
    </div>

    <div *ngFor="let quickReply of action.quickReplies; let index = index; trackBy: customTrackByIndex"
        class="quick-reply-input">
        <div class="delete-quick-reply-button" (click)="deleteQuickReply(index)">
            <i class="icon is-left fas fa-times-circle"></i>
        </div>
        <input  type="text" [(ngModel)]="action.quickReplies[index]" (ngModelChange)="onQuickReplyTextChange()">
    </div>

</div>
